<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<%= link_to 'Edit', edit_user_review_path(@user, @review) %> |
<%= link_to 'Back', user_reviews_path(@user) %>
